@import "variables.scss";

#product_form{
  min-height: $main-content-min-height;
  margin: 10px 0 0 40px;
  hr{
    margin: 0 0 20px 0;
    width: $hr-width;
  }
  .product-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;
  
    label {
      font-family: $input-font;
      font-size: $normal;
      color: $primary-dark;
      margin: 8px;
      width: 120px;
      font-weight: $stronger;
    }

    input, select{
      font-family: $base-font;
      margin: 4px;
      border-radius: 4px; 
      flex: 0.2;
      border: 1px solid $primary-light;
      padding: 6px;
      font-size: $normal;
      color: $primary-dark;
      background-color: $primary-bright;
      transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      
      &:hover {
        cursor: pointer;
        border-color: $secondary-light;
      }
      
      &:focus {
        outline: none;
        border-color: $aux-blue;
        box-shadow: 0 0 0 0.2rem $aux-blue-dark;
      }
    }

    .error-message{
      color: $error;
      animation: hideAnimation 0s ease-in-out 2s;
      animation-fill-mode: forwards;
    }

    @keyframes hideAnimation {
      to {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    } 

    select{
      flex: 0.1;
      margin-left: 90px;
    }

    #weight, #size, #width, #height, #length{
      flex: 0.1;
      align-self: flex-end;
      width: 100px;
      margin-left: 90px;
    }

  }
}
