body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  // text-align: center;
  width: 100%;
  margin: auto;
}


nav ul {
  list-style: none;
}
nav ul li{
  display: inline-block;
  padding: 10px;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

hr{
  width: 95%;
}

ul{
  display: flex;
  li{
    list-style: none;
  }
}
.delete-checkbox{
  background-color: aliceblue;
}

#product_form{
  #sku{
    background-color: aliceblue;
  }

  #name{
    background-color: aliceblue;
  }

  #price{
    background-color: aliceblue;
  }

  #productType{
    background-color: aliceblue;
  }

  #size{
    background-color: aliceblue;
  }
  
  #weight{
    background-color: aliceblue;
  }

  #height{
    background-color: aliceblue;
  }

  #width{
    background-color: aliceblue;
  }

  #length{
    background-color: aliceblue;
  }

}

.product-grid-view{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px;
}

.product-card{
  border: 1px solid darkgray;
  border-radius: 5px;
}



.product-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} 
  label {
    font-size: 16px;
    color: #444;
    // margin-bottom: 8px;
    margin: 8px;
    width: 100px; /* set a fixed width for the labels */
    font-weight: 500;
  }

  input, select {
    margin: 2px;
    border-radius: 2px;
    width: 200px; 
    flex: 0.1; /* set the input to take up all remaining space */
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 16px;
    color: #444;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    
    &:hover {
      cursor: pointer;
      border-color: #aaa;
    }
    
    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  input[required] + label:after {
    content: '*';
    color: #ff4d4f;
    margin-left: 4px;
  }