@import "variables.scss";

footer {
  p{
    margin: 0;
    padding: 0;
  }
  height: 60px;
  display: flex;
  flex-direction: column;
  font-weight: $accent;
  font-family: $footer-font;
  font-size: $base;
  text-align: center;
  align-items: center;
  justify-content: center;
}