@import "variables.scss";

.products-container{
  min-height: $main-content-min-height;
  height: fit-content;
  margin: 10px 0 0 40px;
  hr{
    margin: 0 0 20px 0;
    width: $hr-width;
  }

  .product-grid-view{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 0;
    margin: 0 40px;

    .product-card{
      width: 19vw;
      height: 30vh;
      border: 2px solid $secondary-light;
      border-radius: 3px;
      .delete-checkbox{
        margin: 10px;
      }
      .product-card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
          margin: 3px;
          font-size: $base;
          font-weight: $ease;
        }
      }
    }
  }
}
